.banner {
    margin: 0;
    padding: 0;
}

.banner-main {
    padding-top: 6em;
    margin-bottom: 3em;
    box-shadow: 0px 5px 6px #0000003f;
}

.banner-container {
    white-space: nowrap;
    text-align: justify;

    background-color: var(--primary-color);

    padding-left: 0.75em;
    padding-right: 15vw;

    margin-left: 0.25em;
    margin-top: 1em;
    margin-bottom: 1em;

    height: 100vw;
    border-radius: 5px;
}

.banner-container p {
    color: var(--btn-color);
    font-weight: 600;
    line-height: 20px;
    font-size: 0.95em;
}

.banner-container h1 {
    margin: 0;
    margin-left: -0.1em;
    font-size: 1.8em;
    font-weight: 600;
    color: var(--btn-color);
    

}

.banner-container h1,
.banner-container p,
.banner-container ul {

    z-index: 1;
    position: relative;
    top: 30px;
}

.banner-social {
    z-index: 3;
    padding: 0;
    margin: 0;
}

.banner-social a {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 0.45em;

    background-color: var(--btn-color);
    border-radius: 5px;
    width: calc(2em + 0.5vw);
    height: calc(2em + 0.5vw);

    color: var(--primary-color);

}

.banner-social i {
    
    font-size: calc(1.3em + 0.5vw);
}

.gabriel-img {
    
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: -4.5em;
    /* margin-left: -15vw; */
    margin-bottom: -2em;

}

.gabriel-img img {
    
    z-index: 2;
    max-height: 100vw;
}

#gabriel-dark{
    display: none;
}

#gabriel-light{
    display: none;
}





@media (min-width:576px) {



    .banner-container {
        height: 25em;
        background-color: transparent;

    }

    .banner-container h1 {
        font-size: calc(2.5vw + 2.5vh + 1.45em);
        color: var(--primary-color);
    }

    .banner-container p {
        line-height: auto;
        font-size: calc(1.2vw + 1.2vh + 0.55em);
        color: var(--text-color);
    }

    .banner-social a {
        margin-top: 0.8em;
        min-width: 2.5em;
        min-height: 2.5em;

        color: var(--btn-color);
        background-color: var(--primary-color);

    }

    .banner-social i {
        font-size: calc(1.5vw + 0.55em);
    }

    .gabriel-img img {
        z-index: 2;
        height: 53vw;
    }
    
    #gabriel-dark{
        display: inline;
    }
    
    #gabriel-light{
        display: none;
    }
}

@media (min-width: 768px) { 

    .banner-container h1 {
        font-size: 3.8em;

    }

    .banner-container p {
        line-height: 9px;
        font-size: 1.45em;
    }

    .banner-social a {
        margin-top: 1.2em;
        min-width: 2.5em;
        min-height: 2.5em;

    }

 }

 @media (min-width: 992px) { 

    .banner-container h1,
    .banner-container p,
    .banner-container ul {

        z-index: 1;
        position: relative;
        top: 30px;
        left: 3vw;
    }

    .gabriel-img{
        right: 3vw;
    }

  }


@media (min-width: 1200px) {

    .banner-main{
        padding-top: 6em;
    }

    .banner-container{
        height: 50vh;
    }

    .banner-container h1 {
        font-size: 5.5em;

    }

    .banner-container p {
        line-height: 5px;
        font-size: 2em;
    }

    .banner-container h1,
    .banner-container p,
    .banner-container ul {

        z-index: 1;
        position: relative;
        top: 30px;
        left: 5vw;
    }

    .banner-social a {
        min-width: 3em;
        min-height: 3em;
        margin-top: 1.5em;
    }

    .gabriel-img{
        right: 5vw;
    }

    .gabriel-img img{
        height: 35em;
        
    }

}

@media (min-width: 1400px){



    .banner-container h1,
    .banner-container p,
    .banner-container ul {
        /* left: 10vw; */
        left: unset;
    }

    .banner-social i {
        font-size: 1.5em;
    }

    .gabriel-img{
        margin-left: -76vw;
        right: unset;
    }

    .gabriel-img img{
        height: 85vh;
        
    }
}