
  

  
.h1-project {
    font-weight: 600;
    color: var(--primary-color);
}

.h3-project {
    color: var(--btn-color);
    position: relative;
    font-size: 1.3rem;
    top: 90%;
    display: inline;
    background-color: var(--primary-color);
    border-radius: 5px;   

    box-shadow: 5px 5px 5px #00000067;
}


.img-project {
    border-radius: 5px;
    box-shadow: 5px 5px 25px #00000034;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    z-index: 1;
}

@media (min-width: 768px){

    .h3-project {
        opacity: 0;
    }

    .img-project, .h3-project{
        overflow: hidden;
    }

    .project, .h3-project{
        overflow: hidden;
        z-index: 1;
        transition: 200ms;
    }

    .project:hover .h3-project {
        opacity: 1;
    }

    .project:hover{
        transform-origin: center; 
        transform: scale(1.02);
        overflow: hidden;
        
    }
}



  