.main-skills{
    height: 40em;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 25px #0000003d;
}

.main-skills h2{
    margin-bottom: 2vw;
    font-size: 3em;
    font-weight: 700;

    color: var(--btn-color);
}

.main-skills i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    color: var(--primary-color);
    background-color: var(--btn-color);
    border-radius: 5px;
    box-shadow: 0px 0px 25px #0000003a;
    font-size: 3.5em;
}

@media (min-width: 768px){
    .main-skills{
        height: 25em;
    }
    
    .main-skills i{
        height: 100px;
        width: 100px;
    }
}