@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --body-bg: #e1e1e1;
  --text-color:#000000;
  

  --primary-color: #e01e37;
  --secondary-color: #1f1f1f;
  --third-color: #000000;
  --fourth-color: #e6e6e6;

  --btn-color: #ffff;
  
  
  --deg: linear-gradient(0deg, #e01e37 0%, rgba(2, 0, 36, 0) 50%);  
}

.dark-mode:root {

  --body-bg: #202020;
  --text-color:#ffffff;

  --primary-color: #891ee0;
  --secondary-color: #ffffff;
  --third-color: #cccccc;
  --fourth-color: #1a1a1a;

  --btn-color: #ffff;

  --deg: linear-gradient(0deg, #891ee0 0%, rgba(2, 0, 36, 0) 50%);  
}

*{
  scroll-behavior: smooth;
  scroll-padding-top: 100px ;
}

html{
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'poppins';
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--body-bg);
}

/* section{
  margin-bottom: 20vw;
} */

/* estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 5px;
    height: auto;
  }
  
/* estilo do thumb da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
  }
  
  /* estilo do track da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #ff000000;
    border-radius: 0px;
  }
